<h1>Product Details</h1>
<% @products.each do |product| %>
  <span><b>Product Name: </b></span><u><%= product.product_name %></u> <span><b>Stock Level: </b><u></span><%= product.stock_level %></u><br>
  <%= button_to "Delete Product", product, method: "delete" %> 
  <%= link_to "Edit Product", edit_product_path(product) %> <br> <br>
<% end %>